{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="css/application.css" />
        <link rel="stylesheet" href="css/jquery-ui-1.8.18.custom.css" />
        <link rel="stylesheet" href="JQuery-PLUGIN/jquery.svg.css" />
        <script src="js/jquery-1.7.1.js"></script>
        <script src="js/jquery-ui-1.8.18.custom.min.js"></script>
		<script src="js/ScrollTo.js"></script>
        <script src="js/jeditable.mini.js"></script>
        <script src="js/json2.js"></script>
        <script src="JQuery-PLUGIN/jquery.svg.min.js"></script>
        <script src="JQuery-PLUGIN/jquery.svganim.min.js"></script>
        <script src="JQuery-PLUGIN/jquery.svgdom.min.js"></script>
        <script src="js/Partition.js"></script>
        <script src="js/Instrument.js"></script>
        <script src="js/TrackPart.js"></script>
        <script src="js/Lines.js"></script>
        <script src="js/Measure.js"></script>
        <script src="js/Attribute.js"></script>
        <script src="js/Chord.js"></script>
        <script src="js/SoundParam.js"></script>
        <script src="js/Note.js"></script>
        <script src="js/Parser.js"></script>
        <script src="js/Event.js"></script>
        <script src="js/DrawNote.js"></script>
        <script src="js/Draw.js"></script>
        <script type="text/javascript">
                if (config) {
                        alert('conflit entre 2 variables');
                        debugger;
                }
                var config = {
                        tablature: '{{tablature}}'
                }
        </script>

{% endblock %}

{% block content %}
        <section class="page">
            <section class="float-left">
                <section class="header">
                    <section class="player_section float-left">
                        <section class="player">
                            <img id="back" src="image/playerback.png" />
                            <img id="play" src="image/playerplay.png" />
                            <img id="pause" src="image/playerpause.png" />
                            <img id="stop" src="image/playerstop.png" />
                        </section>
                        <section class="player_options">
                            <section class="float-left">
                                <img id="tempo" class="float-left" src="image/tempo.png" />
                                <section class="text float-left tempo"></section>
                                <section class="clear"></section>
                            </section>
                            <section class="float-left">
                                <img id="speed" class="float-left" src="image/vitesse.png" />
                                <section class="text float-left">x 1.00</section>
                                <section class="clear"></section>
                            </section>
                            <section class="clear"></section>
                        </section>
                    </section>
                    <section class="instruments float-right">
                    </section>
                    <section class="clear"></section>
                </section>
                <section class="tab_svg overflow_svg">
                    <!--<embed src="SVG/partition.svg" width="900" height="400" type="image/svg+xml" />-->
                </section>
                <section class="progress_bar overflow_measure">
                    <table>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </section>
                <footer>
                </footer>
            </section>
            <section class="clear"></section>
        </section>
		<section id="splashScreen">
			<img src="image/piti-bonhomme.jpg" alt="splash screen"/>
			<h1 id="splashScreen1">Chargement en cours ...</h1>
			<h1 id="splashScreen2">Merci de patienter quelques instants.</h1>
		</section>
<script type="text/javascript">

    var svg_inst = new Array();
    var current_svg = 0;

    $(document).ready (function(){
		$('#splashScreen1').fadeIn('slow', function(){
			$('#splashScreen2').fadeIn('slow');
		});
	setTimeout(function(){
        $(".tab_svg").css("height",6000);
        $(".tempo").text(partition._instruments_list[0]._track_part._measure_list[0]._sound_params._tempo);

        for (var i = 0; i < partition._instruments_list.length; i++)
        {
            var nb_corde = partition._instruments_list[i]._track_part._tuning.length;
            if (i == 0)
            {
                $(".tab_svg").append("<section id='"+i+"' style='display: block;'></section>");
            }
            else
            {
                $(".tab_svg").append("<section id='"+i+"' style='display: none;'></section>");
            }
            $(".tab_svg #"+i).svg({onLoad: function(svg)
            {
                svg_inst.push(svg);
                //var height = 60 + Math.ceil((80 * (nb_measure / 4))) < 400 ? 400 : 60 + Math.ceil((80 * (nb_measure / 4)));
               var height = 6000;
               svg.rect(0, 0, 900, height, { fill: "white", stroke:"black"});
               try
               {

                   DrawPartition (partition._instruments_list[i]._track_part._measure_list, svg, nb_corde);
                    svg.rect(60, 20, 2, (nb_corde * 10 + 10), {id: "cursor_"+i, fill:"red"});
               }
               catch (err)
               {
                   writeInConsole (err.message + " line : " + err.stack);
               }
              

            }
        });
        }
        /*
        $('.tab_svg').svg({onLoad: function(svg)
        {
            svg_inst = svg;
            var height = 60 + Math.ceil((80 * (nb_measure / 4))) < 400 ? 400 : 60 + Math.ceil((80 * (nb_measure / 4)));
            svg.rect(0, 0, 900, height, { fill: "white", stroke:"black"});
            drawLines(svg);
        }
        });*/

    

        
                
                //drawNotes(svg, i, svg_index, nb_corde);
            
           
        };

        var division;

       

        function test (svg,svg_index)
        {
             var ConvertNote = {"4" :{"4":80}, "2":{"2":60}, "1":{"2":55, "1":45}, "0.5":{"2":55, "1": 40, "0.5":25}, "0.25":{"2": 50, "1":40, "0.5":30, "0.25":20 }, 
            "0.0625":{"2":45, "1":40,"0.5":30,"0.25":20,"0.0625":10}, "0.03125":{"2":45, "1":30, "0.5":20, "0.25":15, "0.0625":10, "0.03125":5 } };

           svg.text(ConvertNote["4"]["4"], 30, ""+4+"", {stroke: "blue", "font-size": "11px"});
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"], 30, ""+2+"", {stroke: "blue", "font-size": "11px"});
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"], 30, ""+2+"", {stroke: "blue", "font-size": "11px"});
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"], 30, ""+1+"", {stroke: "blue", "font-size": "11px"});
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"], 30, ""+1+"", {stroke: "blue", "font-size": "11px"});  
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"], 30, ""+0.5+"", {stroke: "blue", "font-size": "11px"});
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"], 30, ""+2+"", {stroke: "blue", "font-size": "11px"});  
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"]+ConvertNote["0.25"]["1"], 30, ""+1+"", {stroke: "blue", "font-size": "11px"});  
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"]+ConvertNote["0.25"]["1"]+ConvertNote["0.25"]["0.5"], 30, ""+0.5+"", {stroke: "blue", "font-size": "11px"});  
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"]+ConvertNote["0.25"]["1"]+ConvertNote["0.25"]["0.5"]+ConvertNote["0.25"]["0.25"], 30, ""+0.25+"", {stroke: "blue", "font-size": "11px"});  
           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"]+ConvertNote["0.25"]["1"]+ConvertNote["0.25"]["0.5"]+ConvertNote["0.25"]["0.25"]+ConvertNote["0.0625"]["2"],30, ""+2+"", {stroke: "blue", "font-size": "11px"});  

           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"]+ConvertNote["0.25"]["1"]+ConvertNote["0.25"]["0.5"]+ConvertNote["0.25"]["0.25"]+ConvertNote["0.0625"]["2"]+ConvertNote["0.0625"]["0.25"], 30, ""+0.25+"", {stroke: "blue", "font-size": "11px"});           

           svg.text(ConvertNote["4"]["4"]+ConvertNote["2"]["2"]+ConvertNote["1"]["2"]+ConvertNote["1"]["1"]+ConvertNote["0.5"]["1"]+ConvertNote["0.5"]["0.5"]+ConvertNote["0.25"]["2"]+ConvertNote["0.25"]["1"]+ConvertNote["0.25"]["0.5"]+ConvertNote["0.25"]["0.25"]+ConvertNote["0.0625"]["2"]+ConvertNote["0.0625"]["0.25"], 30, ""+0.25+"", {stroke: "blue", "font-size": "11px"});  

        }
           
        
        
/* functionPosNotes(svg, i, svg_index, nb_corde){
            var measures = partition._instruments_list[svg_index]._track_part._measure_list;

            for (var mes = (0 + i) * 4;  mes < measures.length && mes < (4 + (i * 4)); mes++)
            {
                division = measures[mes]._attributes._division == null ? division : measures[mes]._attributes._division;
                var chords = measures[mes]._chord_list;
                var interval = 0;
                for (var chord = 0; chord < chords.length; chord++)
                {
                    var notes = chords[chord]._note_list;//chords._note_list;
                    var duration;
                    for (var note = 0; note < notes.length; note++)
                    {
                        var current_mesure = (mes + 1) % 4 == 0 ? 3 : ((mes + 1) % 4) - 1;
                        var fret = notes[note]._fret_technical;
                        var string = notes[note]._string_technical;
                        duration = notes[note]._duration;
                        if (fret != null)
                        {
                            if (fret.length == 1)
                            {
                                svg.rect((current_mesure * 205) + 60 + interval, (30 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)) - 5, 5.5, 11, {fill:"white"});
                            }
                            else
                            {
                                svg.rect((current_mesure * 205) + 60 + interval, (30 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)) - 5, 11, 11, {fill:"white"});
                            }
                            svg.text((current_mesure * 205) + 60 + interval, (34 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)), ""+ fret +"", {stroke: "blue", "font-size": "11px"});
                        }
                        else
                        {
                            svg.rect((current_mesure * 205) + 60 + interval, (30 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)) - 5, 5.5, 11, {fill:"white"});
                            svg.text((current_mesure * 205) + 60 + interval, (35 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)), "X", {stroke: "blue", "font-size": "11px"});
                        }
                        //interval += parseInt(duration) + 15;
                    }
                    interval += 50 * (parseInt(duration) / parseInt(division));//interval = duration;
                }

            }
        };
*/
        /*test new maner of drawing the measures and note*/
        


        //test new maner of drawing the measures and note

        


        function drawNotes (svg, svg_index,array, mesaure, mes)
        {
            for (var i = 0; i < array.length; i++)
                {
                    if (array[i]._listnote != null)
                        {
                            for (var j = 0; j < array[i]._listnote.length; j++)
                                {
                                    if (array[i]._listnote[j]._fret != null)
                                        {
                                            svg.text(array[i]._listnote[j]._x, array[i]._listnote[j]._y, ""+array[i]._listnote[j]._fret+"", {stroke: "blue", "font-size": "11px"});
                                        }
                                    else
                                        {
                                            svg.text(array[i]._listnote[j]._x, array[i]._listnote[j]._y, "X",{stroke: "blue", "font-size": "11px"});
                                        }
                                }
                        }
                }
        }
        
        function draw_track (svg, svg_index, nb_corde)
        {
           var measure_list = partition._instruments_list[svg_index]._track_part._measure_list;
            
            var x = 0;
            var y = 0;
            var newline = false;
            var ancient = 0;
            for (var mes = 0; mes < measure_list.length; mes++)
            {
                if (newline)
                    {
                        ancient = null;
                    }
                    else
                        {
                            ancient = width;
                        }
                var m1 = new Array();
                var m2 = new Array();
                var width = 0;
                var w2 = 0;
              
                
                fill_it(measure_list[mes], m1, nb_corde, ancient, y );
                width = m1[m1.length - 1]._posx+ m1[m1.length - 1]._width+ 5 - 60;
                
               if (mes + 1 < measure_list.length)
                   {
                        fill_it(measure_list[mes + 1], m2, nb_corde, width,y,width);
                       w2 = m2[m2.length - 1]._posx+m2[m2.length - 1]._width+ 5 -60;
                   }
                   
               var all = width + w2 + x; 
               
                if (mes == 0)
                    {
                        x = 60;
                        drawTAB(svg,y, nb_corde,mes);
                        y = 30;
                    }
                else
                    {
                        if (newline)
                        {
                             x = 60;                           
                             y += nb_corde * 10 + 20;   
                             drawTAB (svg,y, nb_corde,mes);
                              if (all > 820)
                                 {
                                      x += ancient;
                                       width = 820 - x;
                                      newline = true;                                  
                                 }
                                 else
                                {
                                    newline = false;
                                }
                        }
                        else
                        {
                            if (mes + 1 < measure_list.length)
                            {
                                if (all > 820) 
                                    {
                                        x += ancient;
                                        width = 820 - x;
                                        newline = true;
                                    }
                                else
                                    {
                                        x += ancient;
                                    }
                            }
                         }    
                    }
                    
                draw_it (m1, width, mes, nb_corde,x, y, svg, svg_index, measure_list[mes]);
                
               

            }
             svg.rect(60, 20, 2, (nb_corde * 10 + 10), {id: "cursor_"+svg_index, fill:"red"});
        }
        
        function drawTAB (svg, y, nb_corde, indice_mesure)
        {
            if (indice_mesure == 0)
                {
                    svg.text(20, 45, "T");
                    svg.text(20, 60, "A");
                    svg.text(20, 75, "B"); 
                    
                }
            else
                {
                    svg.text(20, y + 15 , "T");
                    svg.text(20, y+ 30 , "A");
                    svg.text(20, y+ 45 , "B"); 
                }
        }
        
        function draw_it (array, width, mes, nb_corde, x, y, svg, svg_index, measure)
        {
                 var h = nb_corde * 10 -10; 
                drawMeasures(svg, svg_index, nb_corde, width, x, y, h, mes);
                drawLines(svg, x,y,width, nb_corde);
               // drawNotes(svg, svg_index, array, measure , mes);        
        }
        
    $(".progress_bar img").click(function (){
        if ($(this).attr("src") != "image/casebleue.png")
        {
            $(this).attr("src", "image/casebleue.png");
            $("img[id='m_" + selected+ "']").attr("src", "image/casegrise.png");
            var id = $(this).attr("id");
            
            var array = id.split('_');
         
             var index_mes = array[1] * 1;
             $("img[id='m_"+selected+"']").attr("src", "image/casegrise.png");
                $("img[id="+id+"]").attr("src", "image/casebleue.png");
                selected = index_mes; 
               index_mes--;
                var note = partition._instruments_list[current_svg]._track_part._measure_list[index_mes]._chord_list[0]._note_list[0];
                
                $($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr({"y":(note._posY-10), transform:"translate (" + (note._posX-60 + 2) +" 0)"});
                 document.demo.SetTime(MIDItoSecond(note._begin, $(".tempo").text()));
        }
    });    
        
    $($("rect[id^='n_']"), svg_inst[current_svg].root()).click(function ()
    {
            var id = $(this).attr("id");
            var array = id.split('_');
            var m = array[1]*1;
            $("img[id='m_"+selected+"']").attr("src", "image/casegrise.png");
            $("img[id='m_"+(m + 1)+"']").attr("src", "image/casebleue.png");
            selected = m + 1;
            var n = array[2];
            var note = partition._instruments_list[current_svg]._track_part._measure_list[m]._chord_list[n]._note_list[0];
            $($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr({"y": (note._posY-10), transform:"translate("+(note._posX-60+2)+" 0)"});
            
            if (note._posY >= 290)
                {
                    alert(note._posY);
                    $(".overflow_svg").scrollTo(280, 1000, {axis:'y'});
                    
                }
            document.demo.SetTime(MIDItoSecond(note._begin, $(".tempo").text()));
        });
		
        function MIDItoSecond(midi_time, tempo)
        {
                return midi_time * ((60/ tempo) * 1000) / 480 ;
        }

        $(".tempo").editable(
            function(value, settings) {
                var tempo = value;
                var beat = partition._instruments_list[0]._track_part._measure_list[0]._attributes._time_beat;
                speed = (((beat * 4) * 60) / tempo) * 1000;

                return value;
            },
            {
                event : "dblclick",
                style : "inherit"
        });
        
         $.ajax({
            type: "POST",
            url: 'midi',
			data: { 'encoded' : JSON.stringify({ encoded : partition })},
			dataType: "json",
            success: function (data, textStatus, jqXHR) {
				$(".page").append(
				"<object classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B'"+
				"codebase='http://www.apple.com/qtactivex/qtplugin.cab' width='180'"+
				"height='160' id='demo'>"+
				"<param name='src' value='js/demo.mid'>"+
				"<param name='Autoplay' value='false'>"+
				"<embed width='0' height='0' src='js/demo.mid' name='demo'"+
				"enablejavascript='true' autostart='false'>"+
				"</object>"
				);
            },
            error: function (xhr, status, err) {
                alert("fail");
            }
        });

		$('#splashScreen').fadeOut('slow');
    }, 1000);
    });
</script>
{% endblock %}
