{% extends 'layout.html' %}

{% block head %}
        <link rel="stylesheet" href="css/application.css" />
        <link rel="stylesheet" href="css/jquery-ui-1.8.18.custom.css" />
        <link rel="stylesheet" href="JQuery-PLUGIN/jquery.svg.css" />
        <script src="js/jquery-1.7.1.js"></script>
        <script src="js/jquery-ui-1.8.18.custom.min.js"></script>
        <script src="js/jeditable.mini.js"></script>
        <script src="js/json2.js"></script>
        <script src="JQuery-PLUGIN/jquery.svg.min.js"></script>
        <script src="JQuery-PLUGIN/jquery.svganim.min.js"></script>
        <script src="JQuery-PLUGIN/jquery.svgdom.min.js"></script>
        <script src="js/Partition.js"></script>
        <script src="js/Instrument.js"></script>
        <script src="js/TrackPart.js"></script>
        <script src="js/Lines.js"></script>
        <script src="js/Measure.js"></script>
        <script src="js/Attribute.js"></script>
        <script src="js/Chord.js"></script>
        <script src="js/SoundParam.js"></script>
        <script src="js/Note.js"></script>
        <script src="js/Parser.js"></script>
        <script src="js/Event.js"></script>
        <script src="js/DrawNote.js"></script>
{% endblock %}

{% block content %}
        <section class="page">
            <section class="float-left">
                <section class="header">
                    <section class="player_section float-left">
                        <section class="player">
                            <img id="back" src="image/playerback.png" />
                            <img id="play" src="image/playerplay.png" />
                            <img id="pause" src="image/playerpause.png" />
                            <img id="stop" src="image/playerstop.png" />
                        </section>
                        <section class="player_options">
                            <section class="float-left">
                                <img id="tempo" class="float-left" src="image/tempo.png" />
                                <section class="text float-left tempo"></section>
                                <section class="clear"></section>
                            </section>
                            <section class="float-left">
                                <img id="speed" class="float-left" src="image/vitesse.png" />
                                <section class="text float-left">x 1.00</section>
                                <section class="clear"></section>
                            </section>
                            <section class="clear"></section>
                        </section>
                    </section>
                    <section class="instruments float-right">
                    </section>
                    <section class="clear"></section>
                </section>
                <section class="tab_svg overflow_svg">
                    <!--<embed src="SVG/partition.svg" width="900" height="400" type="image/svg+xml" />-->
                </section>
                <section class="progress_bar overflow_measure">
                    <table>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </section>
                <footer>
                </footer>
            </section>
            <section class="clear"></section>
        </section>

<script type="text/javascript">

    var svg_inst = new Array();
    var current_svg = 0;

    $(document).ready (function()
    {
        $(".tab_svg").css("height", 60 + Math.ceil((80 * (nb_measure / 4))));
        $(".tempo").text(partition._instruments_list[0]._track_part._measure_list[0]._sound_params._tempo);

        for (var i = 0; i < partition._instruments_list.length; i++)
        {
            var nb_corde = partition._instruments_list[i]._track_part._tuning.length;
            if (i == 0)
            {
                $(".tab_svg").append("<section id='"+i+"' style='display: block;'></section>");
            }
            else
            {
                $(".tab_svg").append("<section id='"+i+"' style='display: none;'></section>");
            }
            $(".tab_svg #"+i).svg({onLoad: function(svg)
            {
                svg_inst.push(svg);
                var height = 60 + Math.ceil((80 * (nb_measure / 4))) < 400 ? 400 : 60 + Math.ceil((80 * (nb_measure / 4)));
                svg.rect(0, 0, 900, height, { fill: "white", stroke:"black"});
                draw_track (svg, i, nb_corde)
               
            }
        });
        }
        /*
        $('.tab_svg').svg({onLoad: function(svg)
        {
            svg_inst = svg;
            var height = 60 + Math.ceil((80 * (nb_measure / 4))) < 400 ? 400 : 60 + Math.ceil((80 * (nb_measure / 4)));
            svg.rect(0, 0, 900, height, { fill: "white", stroke:"black"});
            drawLines(svg);
        }
        });*/

        function drawLines(svg, svg_index, nb_corde, width, x, y, h, mes)
        {
                svg.text(x, y, ""+mes+"", {stroke: "red", "font-size": "10px"});
                svg.rect(x, y, width, h, {id: "m_"+ (1 + (4 * i)),fill:"white", stroke:"black"});

                for (var j = 0; j < nb_corde; j++)
                    {
                        svg.line(x, y + (j*10) + (i * ((nb_corde * 10) + 20)), 820, y + (j*10) + (i * ((nb_corde * 10) + 20)), {stroke:"black"});
                    }
                //drawNotes(svg, i, svg_index, nb_corde);
            
           
        };

        var division;

        function drawNotes(svg, i, svg_index, nb_corde){
            var measures = partition._instruments_list[svg_index]._track_part._measure_list;

            for (var mes = (0 + i) * 4;  mes < measures.length && mes < (4 + (i * 4)); mes++)
            {
                division = measures[mes]._attributes._division == null ? division : measures[mes]._attributes._division;
                var chords = measures[mes]._chord_list;
                var interval = 0;
                for (var chord = 0; chord < chords.length; chord++)
                {
                    var notes = chords[chord]._note_list;//chords._note_list;
                    var duration;
                    for (var note = 0; note < notes.length; note++)
                    {
                        var current_mesure = (mes + 1) % 4 == 0 ? 3 : ((mes + 1) % 4) - 1;
                        var fret = notes[note]._fret_technical;
                        var string = notes[note]._string_technical;
                        duration = notes[note]._duration;
                        if (fret != null)
                        {
                            if (fret.length == 1)
                            {
                                svg.rect((current_mesure * 205) + 60 + interval, (30 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)) - 5, 5.5, 11, {fill:"white"});
                            }
                            else
                            {
                                svg.rect((current_mesure * 205) + 60 + interval, (30 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)) - 5, 11, 11, {fill:"white"});
                            }
                            svg.text((current_mesure * 205) + 60 + interval, (34 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)), ""+ fret +"", {stroke: "blue", "font-size": "11px"});
                        }
                        else
                        {
                            svg.rect((current_mesure * 205) + 60 + interval, (30 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)) - 5, 5.5, 11, {fill:"white"});
                            svg.text((current_mesure * 205) + 60 + interval, (35 + (string - 1) * 10) + (i * ((nb_corde * 10)+20)), "X", {stroke: "blue", "font-size": "11px"});
                        }
                        //interval += parseInt(duration) + 15;
                    }
                    interval += 50 * (parseInt(duration) / parseInt(division));//interval = duration;
                }

            }
        };

        /*test new maner of drawing the measures and note*/
        
        function draw_track (svg, svg_index, nb_corde)
        {
           var measure_list = partition._instruments_list[svg_index]._track_part._measure_list;
            
            var x = 0;
            var y = 0;
            var newline = false;
            for (var mes = 0; mes < measure_list.length; mes++)
            {
                var m1 = new Array();
                var m2 = new Array();
                var nb_note = 0;
                var width = 0;
                
                
                  for (var i = 0; i < measure_list[mes]._chord_list.lenght; i++)
                      {
                          nb_note += measure_list[mes]._chord_list[i]._note_list.length;
                      }
                
                fill_it(measure_list[mes], m1, nb_corde, width);
                width = m1[m1.length - 1]._x + 5;
                
                
                fill_it(measure_list[mes + 1], m2, nb_corde, width);
                var w2 = m2[m2.length - 1]._x + 5;
                if (mes == 0)
                    {
                        x = 60;
                        y = 30;
                    }
                else
                    {
                        if (newline)
                        {
                             x = 60;
                             width = m1[m1.length - 1]._x + 5;
                             y += nb_corde * 10 + 20;
                             newline = false;
                        }
                        else
                            {
                                 if ((x + width + w2) > 820)
                                    {
                                        x += width;
                                        var tmp = 820 - x;
                                        width =  tmp;
                                        newline = true;
                                    }
                                 else
                                    {
                                        x += width;
                                    }
                             }    
                    }
                    
                draw_it (m1, width, mes, nb_corde,x, y, svg, svg_index);
            }
             svg.rect(60, 20, 2, (nb_corde * 10 + 10), {id: "cursor_"+svg_index, fill:"red"});
        }
        
        function draw_it (array, width, mes, nb_corde, x, y, svg, svg_index)
        {
            var h = nb_corde * 10 - 10;
                
                svg.text(20, y + 15 + (i * ((nb_corde * 10) + 20)), "T");
                svg.text(20, y+ 30 + (i * ((nb_corde * 10) + 20)), "A");
                svg.text(20, y+ 45 + (i * ((nb_corde * 10) + 20)), "B");  
                drawLines(svg, svg_index, nb_corde, width, x, y, h, mes);
        }
        
        function fill_it (measure, array, nb_corde, end)
        {
            division = measure._attributes._division == null ? division : measure._attributes._division;
            var chord_list = measure._chord_list;
            var interval = 5;
            for (var chord = 0; chord < chord_list.length; chord++)
                {
                    var note_list = chord_list[chord]._note_list;
            
                    for (var note = 0; note < note_list.length; note++)
                        {
                            draw = new DrawNote(interval + end + 60, (35 + (note_list[note]._string - 1) * 10) + (((nb_corde * 10)+20)), note_list[note]._fret_technical,
                            note_list[note]._string_technical, note_list[note]._duration, measure);
                            array.push(draw);
                        }
                    interval += 50 * (parseInt(array[chord]._duration) / parseInt(division));
                }
        }
        
        $($("rect[id^='m_']"), svg_inst[current_svg].root()).click(function (){
            var id = $(this).attr("id");
            if ($("img[id='"+id+"']").attr("src") == "image/casegrise.png")
            {
                $("img[id='m_"+selected+"']").attr("src", "image/casegrise.png");
                $("img[id="+id+"]").attr("src", "image/casebleue.png");
                var array = id.split('_');
                selected = array[1];
                elapsed_time = (selected % 4) == 0 ? (speed * 0.75) : ((speed / 4) * ((selected % 4) - 1));
                line = (selected % 4 == 0) ? (((selected / 4) | 0) - 1) : ((selected / 4) | 0);
                $($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr({"y": (20 + (80 * line)), transform:"translate("+ ($($("rect[id='m_"+selected+"']"), svg_inst[current_svg].root()).attr("x") - 60) +" 0)"});
            }
        });

        $(".tempo").editable(
            function(value, settings) {
                var tempo = value;
                var beat = partition._instruments_list[0]._track_part._measure_list[0]._attributes._time_beat;
                speed = (((beat * 4) * 60) / tempo) * 1000;

                return value;
            },
            {
                event : "dblclick",
                style : "inherit"
        });

        $.ajax({
            type: "POST",
            url: 'midi',
			data: { 'encoded' : JSON.stringify({ encoded : partition })},
			dataType: "json",
            success: function (data, textStatus, jqXHR) {
				$(".page").append(
				"<object classid='clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B'"+
				"codebase='http://www.apple.com/qtactivex/qtplugin.cab' width='180'"+
				"height='160' id='demo'>"+
				"<param name='src' value='js/demo.mid'>"+
				"<param name='Autoplay' value='false'>"+
				"<embed width='0' height='0' src='js/demo.mid' name='demo'"+
				"enablejavascript='true' autostart='false'>"+
				"</object>"
				);
            },
            error: function (xhr, status, err) {
                alert("fail");
            }
        });

    });
</script>
{% endblock %}
