{% extends 'layout.html' %}

{% block head %}
		<link rel="stylesheet" href="css/smoothness/jquery-ui-1.8.18.custom.css" />
        <link rel="stylesheet" href="JQuery-PLUGIN/jquery.svg.css" />
        <link rel="stylesheet" href="css/application.css" />
        <script src="js/jquery-1.7.1.js"></script>
        <script src="js/jquery-ui-1.8.18.custom.min.js"></script>
        <script src="js/jquery.hotkeys.js"></script>
		<script src="js/ScrollTo.js"></script>
        <script src="js/jeditable.mini.js"></script>
        <script src="js/json2.js"></script>
        <script src="JQuery-PLUGIN/jquery.svg.min.js"></script>
        <script src="JQuery-PLUGIN/jquery.svganim.min.js"></script>
        <script src="JQuery-PLUGIN/jquery.svgdom.min.js"></script>
        <script src="js/Partition.js"></script>
        <script src="js/Instrument.js"></script>
        <script src="js/TrackPart.js"></script>
        <script src="js/Lines.js"></script>
        <script src="js/Measure.js"></script>
        <script src="js/Attribute.js"></script>
        <script src="js/Chord.js"></script>
        <script src="js/SoundParam.js"></script>
        <script src="js/Note.js"></script>
        <script src="js/Parser.js"></script>
        <script src="js/Event.js"></script>
        <script src="js/DrawNote.js"></script>
        <script src="js/Draw.js"></script>
        <script src="js/application.js"></script>
        <script type="text/javascript">
                if (config) {
                        alert('conflit entre 2 variables');
                        debugger;
                }
                var config = {
                        tablature: '{{tablature}}',
			userId: '{{userId}}',
			midiPath: '{{midiPath}}'
                }
        </script>

{% endblock %}

{% block content %}
        <section class="page">
                <section class="header">
                        <section class="player float-left">
                            <img id="back" src="image/playerback.png" />
                            <img id="play" src="image/playerplay.png" />
                            <img id="pause" src="image/playerpause.png" />
                            <img id="stop" src="image/playerstop.png" />
                        </section>
                        <section class="player_options float-left">
							<div id="speaker" class="speakon float-left"></div>
							<div id="volume" class="float-left"></div>
                            <section class="float-left options">
                                <img id="tempo" class="float-left" src="image/tempo.png" />
                                <section class="text float-left tempo"></section>
								<section class="clear"></section>
                            </section>
                            <section class="float-left options">
                                <img id="speed" class="float-left" src="image/vitesse.png" />
                                <div class="text float-left speed">x 1</div>
								<div class="clear"></div>
                            </section>
                            <section class="clear"></section>
                        </section>
                    <section class="clear"></section>
                </section>
				<ul id="panel_pistes" class="float-left overflow_svg">
					<li class="piste"></li>
				</ul>
                <section class="tab_svg overflow_svg tab_svg_loading float-right">
                </section>
				<section class="clear"></section>
				<section id="footer">
					<div class="progress_bar overflow_measure float-right">
						<table>
							<tr>
							</tr>
							<tr>
							</tr>
						</table>
					</div>
					<div class="clear"></div>
				</section>
        </section>
		<section id="splashScreen">
			<div id="splashbg" class="ui-widget-overlay"></div>
			<div id="splashMessage">
				<img src="image/ajax-loader.gif" alt="loading" style="width:32px; height:32px"><br>
				<span>Chargement de l'application en cours...</span>
			</div>
		</section>
<script type="text/javascript">

    var svg_inst = new Array();
    var current_svg = 0;
	var cur_tempo;

    $(document).ready (setTimeout(function(){
		var application = new Application();
		application.bindKeys();
        $(".tempo").text(partition._instruments_list[0]._track_part._measure_list[0]._sound_params._tempo);
		cur_tempo = $(".tempo").text()*1;

        for (var i = 0; i < partition._instruments_list.length; i++)
        {
            var nb_corde = partition._instruments_list[i]._track_part._tuning.length;
            if (i == 0)
            {
                $(".tab_svg").append("<section id='"+i+"' style='display: block;'></section>");
            }
            else
            {
                $(".tab_svg").append("<section id='"+i+"' style='display: none;'></section>");
            }
            $(".tab_svg #"+i).svg({onLoad: function(svg)
				{
				   svg_inst.push(svg);
				   svg.rect(0, 0, 900, 2000, { fill: "white", stroke:"black", id: "part"});
				   try
				   {
					  var part_height = DrawPartition (partition._instruments_list[i]._track_part._measure_list, svg, nb_corde);
					  $(".tab_svg #"+i).css("height",part_height);
					  $("rect[id='part']", svg.root()).attr("height", part_height);
					  svg.rect(60, 20, 2, (nb_corde * 10 + 10), {id: "cursor_"+i, fill:"red"});
				   }
				   catch (err)
				   {
					   writeInConsole (err.message + " line : " + err.stack);
				   }
				}
			});
        }

		$(".tab_svg").removeClass('tab_svg_loading');

        var division;

        function drawTAB (svg, y, nb_corde, indice_mesure)
        {
            if (indice_mesure == 0)
			{
				svg.text(20, 45, "T");
				svg.text(20, 60, "A");
				svg.text(20, 75, "B");

			}
            else
			{
				svg.text(20, y + 15 , "T");
				svg.text(20, y+ 30 , "A");
				svg.text(20, y+ 45 , "B");
			}
        }

    $(".progress_bar img").click(function (){
        if ($(this).attr("src") != "image/casebleue.png")
        {
			$("img[id^='m_']").each(function (i, v){
				$(this).attr({"src" : "image/casegrise.png"});
			})
            $(this).attr("src", "image/casebleue.png");
            var id = $(this).attr("id");
            var array = id.split('_');
			var index_mes = array[1] * 1;
			selected = index_mes;
			var note = partition._instruments_list[current_svg]._track_part._measure_list[index_mes]._chord_list[0]._note_list[0];
			$($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr({"y":(note._posY-10), transform:"translate (" + (note._posX-60 + 2) +" 0)"});
			document.demo.SetTime((MIDItoSecond(note._begin, $(".tempo").text())+350) * document.demo.GetTimeScale() / 1000);
           ref = ((($($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr("y")-20)/90)%3);
	        if (note._posY >= 290)
			{
				$(".overflow_svg").scrollTo($($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr("y")-10, 1000, {axis:'y'}); //Ne pas décommenter
				$(".overflow_measure").scrollTo($($("img[id^='m_"+index_mes+"']"), svg_inst[current_svg].root()), 1000, {axis:'x'});
			}
        }
    });

    $($("rect[id^='n_'], text[id^='n_']"), svg_inst[current_svg].root()).click(function ()
    {
		var id = $(this).attr("id");
		var array = id.split('_');
		var m = array[1]*1;
		$("img[id^='m_']").each(function (i, v){
			$(this).attr({"src" : "image/casegrise.png"});
		})
		$("img[id='m_"+m+"']").attr("src", "image/casebleue.png");
		selected = m;
		var n = array[2];
		var note = partition._instruments_list[current_svg]._track_part._measure_list[m]._chord_list[n]._note_list[0];
		$($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr({"y": (note._posY-10), transform:"translate("+(note._posX-60+2)+" 0)"});
		ref = ((($($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr("y") - 20) / 90)%3);
		if (note._posY >= 290)
		{
			$(".overflow_svg").scrollTo($($("rect[id^='cursor']"), svg_inst[current_svg].root()).attr("y")-10, 1000, {axis:'y'}); 
			$(".overflow_measure").scrollTo($($("img[id='m_"+selected+"']"), svg_inst[current_svg].root()), 1000, {axis:'x'});
		}
                
		document.demo.SetTime((MIDItoSecond(note._begin, $(".tempo").text())+350) * document.demo.GetTimeScale() / 1000);
	});

        function MIDItoSecond(midi_time, tempo)
        {
			return midi_time * ((60/ tempo) * 1000) / 480 ;
        }

        $(".tempo").editable(
            function(value, settings) {
				var ratio = Math.round(100*(parseFloat(value+".0")/parseFloat(cur_tempo+".0")))/100;
				$(".speed").text("x "+ ratio);

                return value;
            },
            {
                event : "dblclick",
                style : "inherit"
			}
		);

		if (config.midiPath) {
			application.appendMidiPlayer(config.midiPath);
			application.hideSplashScreen('slow');
		} else {
         $.ajax({
            type: "POST",
            url: 'midi',
			data: {
				'name': config.tablature,
				'userId': config.userId,
				'encoded': JSON.stringify({ encoded : partition })
			},
            success: function (data, textStatus, jqXHR) {
				try {
					data = JSON.parse(data);
					console.log("la page midi a renvoyé : ", {data:data});
				} catch(ex) {
					console.error("La page midi n'a pas renvoyé de JSON : ", {texte:data});
				}
				application.appendMidiPlayer(data.filename);
				application.hideSplashScreen('slow');
				console.log('application');
            },
            error: function (xhr, status, err) {
                alert("fail");
            }
        });
		}
    }, 1000));
	console.time('temps de chargement');
</script>
{% endblock %}
