{% extends 'layout.html' %}

{% block title %}EasyTab - Compte{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" href="/css/site.css">
<script src="/js/jquery-1.7.1.js"></script>
<script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
    $(function(){
		// au clic sur une ligne focus de l'input
        $('.item').click(function(){
            $('input', this).focus();
        });
		//styliser le bouton
		$('input[type=submit]').button();
    });
</script>
{% endblock %}

{% block content %}
<section id="container" class="center">
    <form method="post" id="form">
		{% if success %}
		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				{{ success }}
			</p>
		</div>
		{% endif %}
		{% if error %}
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				{{ error }}
			</p>
		</div>
		{% endif %}
        <div class="item">
            <div class="left">Nom d'utilisateur</div>
            <div class="right">{{ pseudo }}</div>
        </div>
        <div class="item">
            <div class="left">Date d'inscription</div>
            <div class="right">{{ dateInscription }}</div>
        </div>
        <div class="item">
            <div class="left">Nouveau mot de passe</div>
            <div class="right"><input name="password" placeholder="password" type="password" ></div>
        </div>
        <div class="item">
            <div class="left">Confirmation du mot de passe</div>
            <div class="right"><input name="confirmPassword" placeholder="password" type="password" ></div>
        </div>
        <div class="item">
            <input type="submit" class="right">
        </div>
    </form>
</section>
{% endblock %}