{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" href="/css/site.css">
<script src="/js/jquery-1.7.1.js"></script>
<script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
    $(function(){
		// au clic sur une ligne focus de l'input
        $('.item').click(function(){
            $('input', this).focus();
        });
		//styliser le bouton
		$('input[type=submit]').button();
    });
</script>
{% endblock %}

{% block content %}
<div id="wrapper" class="center">
	<div class="containerTransparent"></div>
	<section id="container" class="center">
		<div class="top-container">
			<h2 class="center">Creer un Compte</h2>
		</div>
		<div class="content-container center">
			<form method="post" id="form">
				{% if success %}
				<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
					<p>
						<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
						{{ success }}
					</p>
				</div>
				{% endif %}
				{% if error %}
				<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
					<p>
						<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
						{{ error }}
					</p>
				</div>
				{% endif %}
				<table class="center form-struct">
					<tr>
						<td>Login :</td>
						<td><input name="pseudo" placeholder="Login"></td>
					</tr>
					<tr>
						<td>Mot de passe :</td>
						<td><input name="password" placeholder="Mot de passe" type="password" ></td>
					</tr>
					<tr>
						<td>Confirmation du mot de passe :</td>
						<td><input name="confirmPassword" placeholder="Confirmez mot de passe" type="password" ></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit"></td>
					</tr>
				</table>
			</form>
		</div>
	</section>
</div>
{% endblock %}