{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" href="/css/site.css">
<script src="/js/jquery-1.7.1.js"></script>
<script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
    $(function(){
		//styliser le bouton
		$('.custom-button').button();
    });
</script>
{% endblock %}

{% block content %}
<div id="wrapper" class="center">
	<div class="containerTransparent"></div>
	<section id="container" class="center">
		<div class="top-container">
			<h2 class="center">Creer un Compte</h2>
		</div>
		<div class="content-container center">
			<form method="post" id="form" class="simple-form">
				{% if success %}
				<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
					<p>
						<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
						{{ success }}
					</p>
				</div>
				{% endif %}
				{% if error %}
				<div class="error ui-state-error ui-corner-all">
					<p>
						<span class="error ui-icon ui-icon-alert"></span>
						{{ error }}
					</p>
				</div>
				{% endif %}
				<div class="item">
					<label>Login</label>
					<div class="item-text"><input name="pseudo" placeholder="Login"/></div>
				</div>
				<div class="item">
					<label>Mot de passe</label>
					<div class="item-text"><input name="password" placeholder="Mot de passe" type="password"/></div>
				</div>
				<div class="item">
					<label>Confirmation du mot de passe</label>
					<div class="item-text"><input name="confirmPassword" placeholder="Confirmez mot de passe" type="password"/></div>
				</div>
				<input class="float-right custom-button" type="submit"/>
				<div class="clear"/>
			</form>
		</div>
	</section>
</div>
{% endblock %}