{% extends 'layout.html' %}

{% block title %}EasyTab - Résultat de recherche{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" href="/css/site.css">
<script src="/js/jquery-1.7.1.js"></script>
<script src="/js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/js/jquery.contextmenu.r2.packed.js"></script>
<script type="text/javascript">
	function search(recherche, option) {
		var url = '/search/u:{{userId}}/';
		if (option === undefined) {
			url += recherche;
		} else {
			url += 'o:'+option+'/'+recherche;
		}
		$.post(url, function(data, textStatus) {
			$('#trackList tbody').empty();
			for (var i = 0; i < data.length; ++i) {
				$('#trackList tbody').append('<tr id="tab_'+data[i].id+'">'
					+'<td><a href="application;'+data[i].nom+'.xml">'+ data[i].titre+'</a></td>'
					+'<td>'+data[i].artiste+'</td>'
					+'</tr>');
			}
		}, 'json');
	}
	$(function(){
		// au double clic on ouvre la partition
		$('#trackList tbody tr').dblclick(function(e){
			location.href = $('a', this).attr('href');
		});
		// recherche automatique dès qu'on lache une touche
		$('#searchForm > input').keyup(function(e){
			if (e.which == 27) {
				$(this).val('');
				search('');
			} else {
				search($(this).val());
			}
		});
		// interception de l'appui sur la touche entrée pour rechercher sans changer de page
		$('#searchForm').submit(function(e){
			e.preventDefault();
			var recherche = $('input', this).val();
			search(recherche);
		});
		// activer le menu contextuel
		var menu1 = {
			bindings: {
				'ouvrir': function(t) {
					location.href = $('a', t).attr('href');
				}
			},
			menuStyle: {
				width: '133px'
			}
		};
		$('#trackList tbody tr').contextMenu('menu1', menu1);
		var menuOption = {
			bindings: {
				'date': function(e) {
					search('', 'date');
				},
				'alpha': function(e) {
					search('', 'alpha');
				}
			},
			menuStyle: {
				width: '233px'
			}
		};
		$('#container h2 .options').contextMenu('menuOption', menuOption);
		$('#container h2 .options').click(function(){
			$('#dialog').html('Il faut faire un clic droit.').dialog();
			setTimeout(function(){$('#dialog').dialog('close');}, 1000);
		});
	});
</script>
{% endblock %}

{% block content %}
<div id="wrapper" class="center">
	<div class="containerTransparent"></div>
	<section id="container" class="center">
		{% if success %}
		<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				{{ success }}
			</p>
		</div>
		{% endif %}
		{% if error %}
		<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				{{ error }}
			</p>
		</div>
		{% endif %}
		<div class="top-container">
			<h2 class="center">Recherche</h2>
		</div>
		<div class="content-container center">
			<form id="searchForm">
				<input id="searchBox" placeholder="Rechercher...">
				<span class="search_button"></span>
			</form>
			<table id="trackList">
				<thead>
					<tr>
						<td><span>Titre</span></td>
						<td><span>Artiste</span></td>
					</tr>
				</thead>
				<tbody>
					{% for xml in pistes -%}
					<tr id="tab_{{xml.id}}">
						<td><a href="/application;{{ xml.nom }}.xml">{{xml.titre}}</a></td>
						<td>{{xml.artiste}}</td>
					</tr>
					{%- endfor %}
				</tbody>
			</table>
		</div>
	</section>
</div>
<div class="contextMenu" id="menu1">
	<ul>
		<li id="ouvrir">
			<a>Ouvrir</a>
		</li>
	</ul>
</div>
<div class="contextMenu" id="menuOption">
	<ul>
		<li id="date"><a>Trier par data d'ajout</a></li>
		<li id="alpha"><a>Trier par ordre alphabétique</a></li>
	</ul>
</div>
<div id="dialog"></div>
{% endblock %}