
{% extends 'layout.html' %}

{% block title %}Tablatures{% endblock %}

{% block head %}
<link rel="stylesheet" href="css/smoothness/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" href="css/site.css">
<script src="js/jquery-1.7.1.js"></script>
<script src="js/jquery-ui-1.8.18.custom.min.js"></script>
<script src="js/jquery.contextmenu.r2.packed.js"></script>
<script type="text/javascript">
	function search(recherche) {
		$.post('/search/'+recherche, function(data, textStatus) {
			$('#trackList').empty();
			for (var i = 0; i < data.length; ++i) {
				var html = '<li id="tab_'+data[i].id+'"><span class="ui-icon ui-icon-'+(data[i].public?'un':'')+'locked" title="'+(data[i].public?'public':'privé')
					+'"></span><a href="application;'+data[i].nom+'.xml">'+data[i].titre + ' - ' + data[i].artiste
					+'</a></li>'
				$('#trackList').append(html)
			}
		}, 'json');
	}
	$(function(){
		//styliser le bouton
		$('#uploadLink > button').button();
		// au double clic on ouvre la partition
		$('#trackList > li').dblclick(function(e){
			location.href = $('a', this).attr('href');
		});
		// recherche automatique dès qu'on lache une touche
		$('#searchForm > input').keyup(function(e){
			if (e.which == 27) {
				$(this).val('');
				search('');
			} else {
				search($(this).val());
			}
		});
		// interception de l'appui sur la touche entrée pour rechercher sans changer de page
		$('#searchForm').submit(function(e){
			e.preventDefault();
			var recherche = $('input', this).val();
			search(recherche);
		});
		// activer le menu contextuel
		var options = {
			bindings: {
				'ouvrir': function(t) {
					location.href = $('a', t).attr('href');
				},
				'visibility': function(t) {
					var id = $(t).attr('id').slice(4);
					var visibility = $(t).hasClass('private') ? '1' : '0';
					location.href = '/tablatures/'+id+'/visibility/'+visibility;
				},
				'supprimer': function(t) {
					var id = $(t).attr('id').slice(4);
					location.href = '/tablatures/'+id+'/suppression';
				}
			},
			menuStyle: {
				width: '133px'
			}
		};
		$('#trackList > li.private').contextMenu('menu1', options);
		$('#trackList > li:not(.private)').contextMenu('menu2', options);
	});
</script>
{% endblock %}

{% block content %}
<div id="wrapper" class="center">
	<div class="containerTransparent"></div>
	<section id="container">
		<div class="top-container">
			<h2 class="center">Mes tablatures</h2>
		</div>
		
		<div class="content-container center">
			<div class="left-content">
				<form id="searchForm">
					<input id="searchBox" placeholder="Rechercher...">
					<span class="search_button"></span>
				</form>
				<div class="add_tab">
					<a href="upload" id="uploadLink"><button>Ajouter une tablature</button></a>
				</div>
				<table id="trackList">
					<thead>
						<tr>
							<td><span>Publique</span></td>
							<td><span>Titre</span></td>
							<td><span>Artiste</span></td>
						</tr>
					</thead>
					{% for xml in pistes -%}
					{% if xml.public %}
						<tr id="tab_{{xml.id}}">
							<td>
								<span class="ui-icon ui-icon-unlocked" title="public"></span>
							</td>
							{% else %}
						<tr id="tab_{{xml.id}}" class="private">
							<td>
								<span class="ui-icon ui-icon-locked" title="privé"></span>
							<td>
							{% endif %}
							<td>
								{{ xml.titre}}
							</td>
							<td>
								<a href="application;{{ xml.nom }}.xml">{{xml.artiste}}</a>
							</td>
						</tr>
					{%- endfor %}
				</table>
			</div>
			<div class="right-content">
			</div>
		</div>
	</section>
</div>
<div class="contextMenu" id="menu1">
	<ul>
		<li id="ouvrir">
			<!--			<img src="folder.png" />-->
			<a>Ouvrir</a>
		</li>
		<li id="visibility">
			<!--			<img src="disk.png" />-->
			<a>Rendre public</a>
		</li>
		<li id="supprimer">
			<!--			<img src="cross.png" />-->
			<a>Supprimer</a>
		</li>
	</ul>
</div>
<div class="contextMenu" id="menu2">
	<ul>
		<li id="ouvrir">
			<!--			<img src="folder.png" />-->
			<a>Ouvrir</a>
		</li>
		<li id="visibility">
			<!--			<img src="disk.png" />-->
			<a>Rendre privé</a>
		</li>
		<li id="supprimer">
			<!--			<img src="cross.png" />-->
			<a>Supprimer</a>
		</li>
	</ul>
</div>
{% endblock %}