
{% extends 'layout.html' %}

{% block title %}Home Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="css/smoothness/jquery-ui-1.8.18.custom.css" />
<link rel="stylesheet" href="css/site.css">
<script src="js/jquery-1.7.1.js"></script>
<script src="js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('#upload').button();
	});
</script>
{% endblock %}

{% block content %}
<div id="wrapper" class="center">
	<div class="containerTransparent"></div>
	<section id="container" class="center">
		<div class="top-container">
			<h2 class="center">Upload</h2>
		</div>
		
		<div class="content-container center">
			<form method="post" action="upload" enctype="multipart/form-data" id="form">
				
				<div class="elt_form">
					<label>Titre :</label>
					<input id="titre" name="titre" placeholder="entrez le titre">
				</div>
				<div class="elt_form">
					<label>Artiste : </label>
					<input name="artiste" placeholder="entrez l'artiste"/>
				</div>
				<input id="uploadField" type="file" name="tablature" accept="text/xml">
				<label class="visibility">Visibilité : Publique</label>
				<input name="visibilité" type="checkbox" value="publique" checked/>
				<input id="upload" type="submit" value="Upload">
			</form>
		</div>
	</section>
</div>
{% endblock %}