/*
    Document   : application
    Created on : 5 mars 2012, 15:09:03
    Author     : mika
    Description:
        Purpose of the stylesheet follows.
*/

/* reset */

ul, li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

root
{
    display: block;
}

@font-face
{
    font-family: 'bebas';
    src: url('font/BEBAS___.TTF');
    font-weight: lighter;
    font-style: normal;
}

body
{
    background-image: url("../image/bgwe.jpg");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-origin: content-box;
    margin: 0px;
    text-align: center;
}

.page
{
    padding: 20px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

header
{

}

.header
{
	padding: 10px 0px;
}

.player_section
{
    width: 900px;
    margin-top: 30px;
    height: 70px;
    margin-left: 5px;
}

.player
{
    margin: 0 44px;
}

#play,#stop,#back,#pause
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    cursor: pointer;
}

.player_options
{
    margin-left: 50px;
}

.options
{
	margin-left: 20px;
	margin-top: 2px;
}

.player_options section:first-child
{
    margin-left: 15px;
    width: 120px;
}

#speed, #tempo
{
    margin-top: 7px;
}

.text
{
    background-color: #595959;
    margin-top: 7px;
    height: 15px;
    width: 50px;
    margin-left: 15px;
    color: white;
}

.instruments
{
    width: 600px;
    height: 30px;
    margin-top: 70px;
	overflow: auto;
}

.onglets {
	background-color: #575757;
    min-width: 82px; /* 102px - 2*10px de padding */
	height: 20px; /* 30px - 2*5px de padding */
	margin-left: 3px;
	border-radius: 5px 5px 0 0;
    cursor: pointer;

	font-family: bebas;
	text-align: center;
	color: orange;
	font-size: 0.9em;
	padding: 5px 10px;
}
.onglets_selected
{
	background: white url("../image/bouton_white_underline new.png") no-repeat center bottom;

    color: black;
}

/*Panel piste*/
#panel_pistes
{

	width:245px;
	height:415px;
	border:1px solid black;
}

.piste
{
	height:75px;
	border:1px solid red;
    cursor: pointer;

	font-family: bebas;
	text-align: center;
	color: orange;
	font-size: 0.9em;
}

.piste_selected
{
	border:1px solid blue;
}
/*SVG*/

.tab_svg
{
    height:4000px;
    width: 901px;
}
.tab_svg_loading {
	background-color: white;
	border: 1px solid grey;
}

.progress_bar
{
    height: 65px;
    width:900px;
}

.progress_bar ul
{
	display: inline;
}

.progress_bar .left
{
	float: left;
	padding-top: 13px;
	padding-right: 5px;
	cursor: pointer;
}

.progress_bar .right
{
	float: right;
	padding-top: 14px;
	cursor: pointer;
}

.progress_bar .bar
{
	float: left;
	width: 841px;
	overflow-x: hidden;
}

.progress_bar table
{
    margin-top: 10px;
}

.progress_bar tr:first-child img
{
    cursor: pointer;
}

#scroll_svg
{
    left: 15px;
    top: 100px;
    height: 400px;
}

/* GENERAL */

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}

.overflow_measure
{
    max-width: 900px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.overflow_svg
{
    max-height: 415px;
    overflow-y: auto;
    overflow-x: hidden;
}
#splashbg {
	opacity: 0.7;
}
#splashScreen {
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
#splashMessage {
	margin: 200px auto;
	width: 300px;
	position: relative;
	padding: 20px;
	background-image: -webkit-linear-gradient(rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
	border: black 1px solid;
	border-radius: 2px;
}
#volume
{
	width: 100px;
	margin-top: 11px;
	margin-right: 40px;
}
.speakon
{
	margin-top: 8px;
	width:16px;
  	height:16px;
  	background:url("smoothness/images/ui-icons_454545_256x240.png") -144px -160px no-repeat;
}
.speakoff
{
	margin-top: 8px;
	width:16px;
  	height:16px;
  	background:url("smoothness/images/ui-icons_454545_256x240.png") -129px -160px no-repeat;
}
.ui-slider .ui-slider-handle
{
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	cursor: default;
}
.ui-slider-horizontal
{
	height: 0.5em;
}

#footer
{
	
}