/*
    Document   : application
    Created on : 5 mars 2012, 15:09:03
    Author     : mika
    Description:
        Purpose of the stylesheet follows.
*/

/* reset */

ul, li
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

root
{
    display: block;
}

@font-face
{
    font-family: 'bebas';
    src: url('font/BEBAS___.TTF');
    font-weight: lighter;
    font-style: normal;
}

body
{
    background-image: url("../image/bgwe.jpg");
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-origin: content-box;
    margin: 0px;
    text-align: center;
}

.page
{
    padding: 0 20px;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.easytab
{
    background-image: url("../image/easytab_title.png");
    width:449px;
    height: 90px;
    margin:auto;
}

header
{
   
}

.header
{
    padding: 2px 0px;
    border: 1px solid black;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #1E1E1E), color-stop(0.68, #3D3D3D));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:53px;

}

.player_section
{
    width: 900px;
    margin-top: 30px;
    height: 70px;
    margin-left: 5px;
}

.player
{
    margin: 5px 33px;
    border-radius:10px;
    border: 1px outset #303030;
    padding:3px;
}

#play,#stop,#back,#pause
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    cursor: pointer;
}

.player_options
{
    margin-left: 50px;
    margin-top: 10px;
}

.options
{
	margin-left: 20px;
	margin-top: 2px;
}

.player_options section:first-child
{
    margin-left: 15px;
    width: 120px;
}


.lbl
{
    font-family: bebas;
    text-align: center;
    color: orange;
    /*font-weight: bold;*/
    font-size:12px;
    margin-top: 7px;
}
.text
{
    background-color: #595959;
    margin-top: 7px;
    height:20px;
    width:54px;
    margin-left: 15px;
    color: white;
    border:1px solid black;
}

.instruments
{
    width: 600px;
    height: 30px;
    margin-top: 70px;
	overflow: auto;
}

.onglets {
	background-color: #575757;
    min-width: 82px; /* 102px - 2*10px de padding */
	height: 20px; /* 30px - 2*5px de padding */
	margin-left: 3px;
	border-radius: 5px 5px 0 0;
    cursor: pointer;

	font-family: bebas;
	text-align: center;
	color: orange;
	font-size: 0.9em;
	padding: 5px 10px;
}
.onglets_selected
{
	background: white url("../image/bouton_white_underline new.png") no-repeat center bottom;

    color: black;
}

/*Panel piste*/
#panel_pistes
{

	width:245px;
	height:415px;
        background-image: url("../image/bg_piste_test.png");
        overflow:auto;
}   

.piste
{
	height:75px;
        cursor: pointer;
	font-family: bebas;
	text-align: center;
	color: orange;
	font-size: 0.9em;
        border-bottom: 1px solid black;
        border-top: 1px solid #333232;
}

.piste_selected
{
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}
/*SVG*/

.tab_svg
{
    height:4000px;
    width: 901px;
}
.tab_svg_loading {
    background-color: white;
    border: 1px solid grey;
}

.progress_bar
{
    width:900px;
}

.progress_bar ul
{
    display: inline;
}

.progress_bar .left
{
    float: left;
    padding-top: 13px;
    padding-right: 5px;
    cursor: pointer;
}

.progress_bar .right
{
	float: right;
	padding-top: 14px;
	cursor: pointer;
}

.progress_bar .bar
{
    float: left;
    width: 841px;
    overflow-x: hidden;
    font-size:11px;
    color:whitesmoke;
}

.progress_bar table
{

}

.progress_bar tr:first-child img
{
    cursor: pointer;
}

#scroll_svg
{
    left: 15px;
    top: 100px;
    height: 400px;
}

/* GENERAL */

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}

.overflow_measure
{
    max-width: 900px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.overflow_svg
{
    max-height: 415px;
    overflow-y: auto;
    overflow-x: hidden;
}
#splashbg {
	opacity: 0.7;
}
#splashScreen {
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
#splashMessage {
	margin: 200px auto;
	width: 300px;
	position: relative;
	padding: 20px;
	background-image: -webkit-linear-gradient(rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
	border: black 1px solid;
	border-radius: 2px;
}
#volume
{
	width: 100px;
	margin-top: 11px;
	margin-right: 40px;
        margin-left:10px;
}
.speakon
{
	margin-top: 8px;
	width:24px;
  	height:21px;
  	background:url("../image/soundOn.png") no-repeat;
}
.speakoff
{
	margin-top: 8px;
	width:24px;
  	height:21px;
  	background:url("../image/soundOff.png") no-repeat;
}

.part_name
{
    border-radius:10px;
    border: 1px outset #303030;
    padding:10px;
    margin-right:33px;
    margin-top:5px;
    color:orange;
    font-family: bebas;
    font-size: 0.9em;   
}
.ui-slider .ui-slider-handle
{
    position: absolute;
    z-index: 2;
    width: 11px;
    height: 13px;
    cursor: default;
    border-radius: 3px;
    top: -3px;
}
.ui-slider-horizontal
{
    height: 0.5em;
}

#footer
{
    border: 1px solid black;
    border-top: 1px solid #555;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #1E1E1E), color-stop(0.68, #3D3D3D));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -3px 11px 22px #818181;
}

.ui-widget-header
{
	border: 1px solid #E78F08;
	background: #F6A828 url(images/ui-widget-header.png) 50% 50% repeat-x;
	color: white;
	font-weight: bold;
}