/*
    Document   : application
    Created on : 5 mars 2012, 15:09:03
    Author     : mika
    Description:
        Purpose of the stylesheet follows.
*/

root
{
    display: block;
}

@font-face
{
    font-family: 'bebas';
    src: url('font/BEBAS___.TTF');
    font-weight: lighter;
    font-style: normal;
}

body
{
    background-image: url("../image/bgwe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    margin: 0px;
    text-align: center;
}

.page
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

header
{

}

footer
{
    height: 200px;
}

.header
{
    height: 100px;
    padding-right: 20px;
}

.player_section
{
    width: 250px;
    margin-top: 30px;
    height: 70px;
    margin-left: 5px;
}

.player
{
    height: 50%;
}

#play,#stop,#back,#pause
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    cursor: pointer;
}

.player_options
{
    height: 50%;
}

.player_options section:first-child
{
    margin-left: 15px;
    width: 120px;
}

#speed, #tempo
{
    margin-top: 7px;
}

.text
{
    background-color: #595959;
    margin-top: 7px;
    height: 15px;
    width: 50px;
    margin-left: 15px;
    color: white;
}

.instruments
{
    width: 600px;
    height: 30px;
    margin-top: 70px;
}

.onglets_pic
{
    margin-left: 3px;
    width: 102px;
    height: 30px;
    background-image: url(../image/boutondark.png);
    cursor: pointer;
}

.onglets_pic_selected
{
    margin-left: 3px;
    width: 102px;
    height: 30px;
    background-image: url(../image/bouton_white_underline.png);
    cursor: pointer;
}

.onglets_text
{
    position: relative;
    height: auto;
    width: auto;
    font-family: bebas;
    text-align: center;
    color: orange;
    top: 5px;
    font-size: 0.9em;
}

.onglets_text_selected
{
    position: relative;
    height: auto;
    width: auto;
    font-family: bebas;
    text-align: center;
    color: black;
    top: 5px;
    font-size: 0.9em;
}

.tab_svg
{
    height:4000px;
    width: 901px;
}

.progress_bar
{
    height: 65px;
}

.progress_bar table
{
    margin-top: 10px;
}

.progress_bar tr:first-child img
{
    cursor: pointer;
}

#scroll_svg
{
    left: 15px;
    top: 100px;
    height: 400px;
}

/* GENERAL */

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}

.overflow_measure
{
    max-width: 900px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
}

.overflow_svg
{
    max-height: 415px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
#splashbg {
	opacity: 0.7;
}
#splashScreen {
	height: 100%;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
#splashMessage {
	margin: 200px auto;
	width: 300px;
	position: relative;
	z-index: 3;
	padding: 20px;
	background-image: -webkit-linear-gradient(rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
	border: black 1px solid;
	border-radius: 2px;
}