/************************************************ Police **************************************************/

@font-face
{
    font-family: 'neuropolitical';
    src: url('font/neuropolitical rg.ttf');
    font-weight: lighter;
    font-style: normal;
}

/************************************************ Body/Header/Footer **************************************************/

body
{
    margin: 0;
	height: 800px;
	background: url("/image/musicnote_no_background.png");
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-size: 100% auto;//1580px auto;
	background-position: center top;
	background-position-y: -120px;
}

#log
{
	float: right;
	margin-right:30px;
	margin-top: 11px;
}

#log a
{
	text-decoration: none;
	color: white;
	padding: 16px 10px 7px;
	-webkit-transition: all .3s;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

#log a:hover
{
	border-bottom: 3px solid #0D7BBC;
}

header
{
	font-family: 'neuropolitical';
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #1E1E1E), color-stop(0.68, #3D3D3D));
	font-size: 12px;
	box-shadow: 0px 4px 10px black;
}

#top-nav,
#footer-nav
{
	margin: auto;
	width: 1090px;
    height: 44px;
}

#top-nav ul,
#top-nav li,
#footer-nav ul,
#footer-nav li
{
	float: left;
	list-style: none;
	margin:0px;
	padding:0px;
}

#footer-nav li
{
	margin-top: 10px;
}

#top-nav ul
{
	margin-left: 180px;
	margin-top: 11px;
}

#top-nav  li a,
#footer-nav li a
{
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
    color: white;
	padding: 6px 10px 7px;
	-webkit-transition: all .3s;
}

#top-nav  li a:hover
{
	border-bottom: 3px solid orange;
}

#footer-nav  li a:hover
{
	color: #0085DD;
}

footer
{
	font-family: 'neuropolitical';
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #3D3D3D), color-stop(0.68, #1E1E1E));
	font-size: 12px;
	box-shadow: 0px -2px 2px black;
}

/************************************************ Erreur **************************************************/

div.error
{
	padding: 0 .7em;
	width: 350px;
	margin: auto;
	font-weight: 700;
	border: 2px inset red;
}

span.error
{
	float: left;
	margin-right: .3em;
	margin-top: 2px;
}

/************************************************ Général **************************************************/

a
{
	text-decoration: none;
}

h2,
.item-text span
{
	cursor: default;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.clear
{
	clear: both;
}

.easytab
{
    float: left;
}