body
{
    margin: 0;
	background-color: #a7a79f;
	background-image: url("../image/bgwe.jpg");
	background-size: cover;
}

@font-face
{
    font-family: 'neuropolitical';
    src: url('font/neuropolitical rg.ttf');
    font-weight: lighter;
    font-style: normal;
}

.easytab
{
    float: left;
}



#log
{
	float: right;
	margin-right:30px;
	margin-top: 11px;
}

#log a
{
	text-decoration: none;
	color: white;
	padding: 16px 10px 11px;
	-webkit-transition: all .3s
}

#log a:hover
{
	border-bottom: 3px solid #0D7BBC;
}

#top
{
	font-family: 'neuropolitical';
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #1E1E1E), color-stop(0.68, #3D3D3D));
	margin-bottom: 40px;
	font-size: 12px;
}

#top-nav
{
	margin: auto;
	width: 1090px;
    height: 44px;
}

#top-nav ul,
#top-nav li
{
	float: left;
	list-style: none;
	margin:0px;
	padding:0px;
}

#top-nav ul
{
	margin-left: 200px;
	margin-top: 11px;
}

/* décoration des liens */
#top-nav  li a
{
    color: white;
	padding: 16px 10px 11px;
	-webkit-transition: all .3s;/*
	border-left: 1px solid #474747;
	border-right: 1px solid #474747;*/
}

#top-nav  li a:hover
{
	/*border-left: 1px solid #474747;
	border-right: 1px solid #474747;*/
	border-bottom: 3px solid #F0BB12;
}

a
{
	text-decoration: none;
	color: #006;
}

a:hover,
li:hover a,
tr:hover a {
	color: brown;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
/* splash message -> liste des tablatures */
#trackInfos {
	float: right;
}
#trackList {
	list-style-type: none;
	padding-left: 0;
	text-align: left;
}
table#trackList{
	-webkit-border-horizontal-spacing: 0;
	width: 100%;
}
#trackList > li{
	line-height: 2em;
}
#trackList > tr{
	height: 2em;
}
#trackList tr:hover,
#trackList li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}