body {
    margin: 0;
	background-color: #a7a79f;
	background-image: url("../image/bgwe.jpg");
	background-size: cover;

}
nav
{
	position: relative;
	z-index: 4;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #1E1E1E), color-stop(0.68, #3D3D3D));;
    height: 25px;
    padding-left: 50px;
    text-align: center;
}
.easytab {
    background-image: url("../image/easytab_title.png");
    width:449px;
    height: 90px;
    margin:auto;
}
/* décoration des liens */
nav > a {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

nav > a:hover
{
	color: orange;
}
a {
	text-decoration: none;
	color: #006;
}
a:hover,
li:hover a,
tr:hover a {
	color: brown;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
/* splash message -> liste des tablatures */
#trackInfos {
	float: right;
}
#trackList {
	list-style-type: none;
	padding-left: 0;
	text-align: left;
}
table#trackList{
	-webkit-border-horizontal-spacing: 0;
	width: 100%;
}
#trackList > li{
	line-height: 2em;
}
#trackList > tr{
	height: 2em;
}
#trackList tr:hover,
#trackList li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}