#wrapper
{
	width: 1090px;
	height: 717px;
}

#container,
.containerTransparent
{
	position: relative;
}

.containerTransparent
{
	opacity: 0.35;
	background-image: url("/image/bgwe.jpg");
	z-index: 1;
	top: 5px;
	height: 712px;
}

#container
{
	box-shadow: 0px 0px 10px #444;
	background-color: transparent;
	z-index: 2;
	top: -712px;
	height: 717px;
}

.top-container
{
	color: black;
}

.top-container form
{
	position: relative;
	float: right;
	z-index: 1;
}

.top-container h2
{
	color: white;
	border-bottom: 2px solid orange;
	font-family: 'neuropolitical';
	width: 366px;
	padding: 0px 10px 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0px 6px 15px black;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #3D3D3D), color-stop(0.68, #1E1E1E));
}

.content-container
{
	width: 1040px;
	height: 580px;
	margin-top: 50px;
}

.left-content,
.right-content
{
	padding-top: 10px;
}

.left-content
{
	float: left;
	width: 70%;
}

.right-content
{
	float: right;
	width: 30%;
}

#searchBox
{
	margin: 4px 0px;
	padding: 5px 10px;
	width: 240px;
	border-radius: 5px;
}

#searchBox:focus
{
	border: 2px solid rgba(0,0,0,0);
	box-shadow: 0px 0px 10px orange;
}

#searchForm,
.add_tab
{
	background-color: #242424;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#searchForm
{
	float: left;
	width: 304px;
	padding: 5px 15px 5px;
}

.add_tab
{
	padding: 10px 10px 10px;
	float: right;
}

.search_button
{
	background-image: url("../image/loop1.png");
	width: 35px;
	height: 35px;
	float: right;
	margin: 2px 0px;
}

.search_button:hover
{
	background-image: url("../image/loop2.png");
}

#trackList
{
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	clear: both;
}

#trackList thead
{
	color: white;
	background-color: #242424;
	font-weight: 700;
}

#trackList thead td
{
	padding: 10px 0px;
}

#trackList tbody td > a
{
	font-weight: 700;
	color: orange;
}

#trackList tbody > tr
{
	height: 30px;
	-webkit-transition: all .3s;
}

#trackList tbody > tr:hover
{
	background-color: rgba(36, 36, 36, 0.28);
}

.custom-button
{
	-webkit-transition: all .3s;
	color: white;
	font-weight: 700;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, orange), color-stop(0.68, #FCD402));
	text-shadow: 1px 1px 6px black;
	padding: 10px 15px!important;
}

.custom-button:hover
{
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.18, #FCD402), color-stop(0.68, orange));
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus
{
	color: brown;
}

h2 .options
{
	margin-left: 0.5em;
	background-image: url("/image/buttonOptions.png");
	display: inline-block;
	width: 17px;
	height: 17px;
	cursor: pointer;
}

h2 .options:hover
{
	background-position: 0 17px;
}

.ui-icon
{
	display: inline-block;
}

/* formulaire */
.form-struct
{
    border-spacing: 30px;
	text-align: left;
}