#container {
	background-color: rgba(0, 0, 0, 0.1);
	border: solid 1px white;
	border-top: none;
	border-radius: 0 0 35px 35px;
    width: 400px;
    padding: 50px 50px;
}

.gros-bouton {
    /*font-size: 1.2em;*/
    padding: 7px 14px;
}