/* 
    Document   : application
    Created on : 5 mars 2012, 15:09:03
    Author     : mika
    Description:
        Purpose of the stylesheet follows.
*/

root
{ 
    display: block;
}

body
{
    background-image: url("../image/bgwe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    margin: 0px;
    text-align: center;
}

.page
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header
{
    
}

footer
{
    height: 200px;
}

.header
{
    height: 100px;
}

.player_section
{
    width: 250px;
    margin-top: 30px;
    height: 70px;
    margin-left: 5px;
}

.player
{
    height: 50%;
}

#play,#stop,#back,#pause
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}

.player_options
{
    height: 50%;
}

.player_options section:first-child
{
    margin-left: 15px;
    width: 120px;
}

#speed, #tempo
{
    margin-top: 7px;
}

.text
{
    background-color: #595959;
    margin-top: 7px;
    height: 15px;
    width: 50px;
    margin-left: 15px;
    color: white;
}

.instruments
{
    width: 600px;
    height: 30px;
    margin-top: 70px;
}

.tab_svg
{
    height: 400px;
}

.progress_bar
{
    height: 100px;
}

.progress_bar table
{
    margin-top: 10px;
}

/* GENERAL */

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}