/* 
    Document   : application
    Created on : 5 mars 2012, 15:09:03
    Author     : mika
    Description:
        Purpose of the stylesheet follows.
*/

root
{ 
    display: block;
}

body
{
    background-image: url("../image/bgwe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    margin: 0px;
    text-align: center;
}

.page
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header
{
    
}

footer
{
    height: 200px;
}

.header
{
    height: 100px;
    border: 1px solid black;
}

.player_section
{
    width: 250px;
    margin-top: 15px;
    height: 70px;
    margin-left: 5px;
    border: 1px solid black;
}

.player
{
    height: 50%;
}

.player table
{
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

.player table td
{
    margin-top: 0px;
}

#back
{
    background-image: url("../image/playerback.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 50% 50%;
}

#play
{
    background-image: url("../image/playerplay.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 50% 50%;
}

#pause
{
    background-image: url("../image/playerpause.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 50% 50%;
}

#stop
{
    background-image: url("../image/playerstop.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: 50% 50%;
}

.player_options
{
    height: 50%;
}

.instruments
{
    width: 600px;
    height: 30px;
    margin-top: 70px;
    border: 1px solid black;
}

.tab_svg
{
    height: 400px;
    border: 1px solid black;
}

.progress_bar
{
    height: 100px;
    border: 1px solid black;
}

/* GENERAL */

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}