/* 
    Document   : stylesheet
    Created on : Feb 28, 2012, 3:14:30 PM
    Author     : durand_y
    Description:
        Purpose of the stylesheet follows.
*/

/*
    declaration nouvelle police
*/

@font-face 
{
    font-family: 'GoodDogRegular';
    src: url('font/GoodDog-webfont.eot');
    src: url('font/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/GoodDog-webfont.woff') format('woff'),
        url('font/GoodDog-webfont.ttf') format('truetype'),
        url('font/GoodDog-webfont.svg#GoodDogRegular') format('svg');
    font-weight: 300;
    font-style: normal;
}
    
img
{
    margin-left: 120px;
}

h1
{
    color: crimson;
    text-align: center;
    font-family: 'GoodDogRegular';   
}

p
{
    font-family: 'GoodDogRegular';
    font-size:larger;
    text-align: center;
}

.page
{
    width: 100%;
    background-image: url(plasma.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.clear
{
    clear: both;
}

.tab
{
    margin: 0px;
}